# Criar um contêiner
# https://medium.com/zabbix-brasil/monitorando-docker-com-zabbix-5-e-zabbix-agent2-1a9a8d53fbd3
# docker compose -f docker-compose-monitor.yml up --build -d --no-recreate

version: '3.9'

services:
  #---------------------------------------------------#
  #  ZABBIX-MYSQL - BANCO DE DADOS MYSQL PARA ZABBIX  #
  #---------------------------------------------------#
  zabbix-mysql:
    container_name: zabbix-mysql
    hostname: zabbix-mysql
    image: mysql:${MYSQL_TAG:-latest}
    restart: unless-stopped
    volumes:
      - /usr/local/docker/zabbix/mysql/data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-secret}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-zabbix}
      MYSQL_USER: ${MYSQL_USER:-zabbix}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-zabbix}
    command:
      - "--default-authentication-plugin=mysql_native_password"
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_unicode_ci"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    # networks:
    #   - network-monitor
    # ports:
    #   - "3306:3306"
    networks:
      network-monitor:
        ipv4_address: 10.0.0.2

  #-----------------------------------------------------#
  #  ZABBIX-SNMPTRAPS - CAPTURA SNMP TRAPS PARA ZABBIX  #
  #-----------------------------------------------------#
  zabbix-snmptraps:
    container_name: zabbix-snmptraps
    hostname: zabbix-snmptraps
    image: zabbix/zabbix-snmptraps:${ZB_TAG_TRAPS:-latest}
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /usr/local/docker/zabbix/snmptraps:/var/lib/zabbix/snmptraps:rw
      - /usr/local/docker/zabbix/mibs:/usr/share/snmp/mibs:ro
    # ports:
    #   - "162:1162/udp"
    # networks:
    #   - network-monitor
    networks:
      network-monitor:
        ipv4_address: 10.0.0.3

  #---------------------------------------------------------------#
  #  ZABBIX-SERVER - MONITORAMENTO ABRANGENTE DE REDE E SISTEMAS  #
  #---------------------------------------------------------------#
  #
  # Nota: Instalar python apos criação do container e dependencias
  # apk add --update --no-cache python3 && ln -sf python3 /usr/bin/python
  # python3 -m ensurepip
  # pip3 install --no-cache --upgrade pip setuptools
  #
  # Requirements
  # pip3 install bs4
  # pip3 install requests
  # pip3 install cloudscraper
  #
  # pip3 beautifulsoup4==4.9.0
  # pip3 certifi==2020.4.5.1
  # pip3 chardet==3.0.4
  # pip3 cloudscraper==1.2.33
  # pip3 idna==2.9
  # pip3 requests==2.23.0
  # pip3 requests-toolbelt==0.9.1
  # pip3 soupsieve==2.0
  # pip3 urllib3==1.25.9
  #
  zabbix-server:
    container_name: zabbix-server
    hostname: zabbix-server
    image: zabbix/zabbix-server-mysql:${ZB_TAG_SRV:-latest}
    #restart: unless-stopped
    # command: >
    #   /bin/sh -c "
    #   apk add --update --no-cache python3 && 
    #   ln -sf python3 /usr/bin/python &&
    #   python3 -m ensurepip &&
    #   pip3 install --no-cache --upgrade pip setuptools
    #   "
    environment:
      DB_SERVER_HOST: zabbix-mysql
      DB_SERVER_PORT: "3306"
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-secret}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-zabbix}
      MYSQL_USER: ${MYSQL_USER:-zabbix}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-zabbix}
      ZBX_ENABLE_SNMP_TRAPS: "true"
      ZBX_STARTPOLLERS: 5
      ZBX_STARTPINGERS: 1
      ZBX_LISTENPORT: 10051
      ZBX_HOUSEKEEPINGFREQUENCY: 1
      ZBX_MAXHOUSEKEEPERDELETE: 5000
      ZBX_PROBLEMHOUSEKEEPINGFREQUENCY: 60
      ZBX_SENDERFREQUENCY: 30
      ZBX_CACHEUPDATEFREQUENCY: 10
      ZBX_STARTDBSYNCERS: 4
      ZBX_EXPORTFILESIZE: 1G
      ZBX_HISTORYCACHESIZE: 16M
      ZBX_HISTORYINDEXCACHESIZE: 4M
      ZBX_HISTORYSTORAGEDATEINDEX: 0
      ZBX_TRENDCACHESIZE: 4M
      ZBX_TRENDFUNCTIONCACHESIZE: 4M
      ZBX_VALUECACHESIZE: 8M
      ZBX_UNREACHABLEPERIOD: 45
      ZBX_UNAVAILABLEDELAY: 60
      ZBX_UNREACHABLEDELAY: 15
      ZBX_LOGSLOWQUERIES: 3000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /usr/local/docker/zabbix/alertscripts:/usr/lib/zabbix/alertscripts:ro
      - /usr/local/docker/zabbix/externalscripts:/usr/lib/zabbix/externalscripts:ro
      - /usr/local/docker/zabbix/modules:/var/lib/zabbix/modules:ro
      - /usr/local/docker/zabbix/enc:/var/lib/zabbix/enc:ro
      - /usr/local/docker/zabbix/ssh_keys:/var/lib/zabbix/ssh_keys:ro
      - /usr/local/docker/zabbix/mibs:/var/lib/zabbix/mibs:ro
      - /usr/local/docker/zabbix/snmptraps:/var/lib/zabbix/snmptraps:ro
      - /usr/local/docker/zabbix/ssl/certs:/var/lib/zabbix/ssl/certs:ro
      - /usr/local/docker/zabbix/ssl/keys:/var/lib/zabbix/ssl/keys:ro
    volumes_from:
      - zabbix-snmptraps
    depends_on:
      - zabbix-mysql
      - zabbix-snmptraps
    deploy:
      restart_policy:
        condition: unless-stopped
      resources:
        limits:
          cpus: "1"
          memory: 1280M
        reservations:
          memory: 768M
          cpus: "0.5"
    # ports:
    #   - "10051:10051"
    # networks:
    #   - network-monitor
    networks:
      network-monitor:
        ipv4_address: 10.0.0.4

  #-----------------------------------------------------------------#
  #  ZABBIX-FRONTEND - INTERFACE GRÁFICA PARA GERENCIAMENTO ZABBIX  #
  #-----------------------------------------------------------------#
  zabbix-frontend:
    container_name: zabbix-frontend
    hostname: zabbix-frontend
    image: zabbix/zabbix-web-nginx-mysql:${ZB_TAG_FRONT:-latest}
    restart: unless-stopped
    environment:
      ZBX_SERVER_HOST: zabbix-server
      DB_SERVER_HOST: zabbix-mysql
      DB_SERVER_PORT: "3306"
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-secret}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-zabbix}
      MYSQL_USER: ${MYSQL_USER:-zabbix}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-zabbix}
      PHP_TZ: "America/Caracas"
      ZBX_POSTMAXSIZE: 64M
      ZBX_MAXEXECUTIONTIME: 500
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    deploy:
      restart_policy:
        condition: unless-stopped
      resources:
        limits:
          cpus: '0.70'
          memory: 512M
        reservations:
          cpus: '0.5'
          memory: 256M
    depends_on:
      - zabbix-server
    ports:
      - 127.0.0.1:8088:8080
    # networks:
    #   - network-monitor
    networks:
      network-monitor:
        ipv4_address: 10.0.0.5

  #---------------------------------------------------------#
  #  ZABBIX-AGENT - COLETA DADOS PARA MONITORAMENTO ZABBIX  #
  #---------------------------------------------------------#
  zabbix-agent:
    container_name: zabbix-agent
    hostname: zabbix-agent
    image: zabbix/zabbix-agent2:${ZB_TAG_AGT:-latest}
    #image: zabbix/zabbix-agent:${ZB_TAG_AGT:-latest}
    restart: unless-stopped
    privileged: true
    environment:
      ZBX_SERVER_HOST: zabbix-server
      ZBX_HOSTNAME: zabbix-agent
      ZBX_DEBUGLEVEL: 2
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      #- /usr/local/docker/zabbix/zabbix_agentd.d:/etc/zabbix/zabbix_agentd.d:ro
      - /usr/local/docker/zabbix/zabbix_agent2.d/zabbix_agent2.conf:/etc/zabbix/zabbix_agent2.d/zabbix_agent2.conf:ro
      - /usr/local/docker/zabbix/modules:/var/lib/zabbix/modules:ro
      - /usr/local/docker/zabbix/enc:/var/lib/zabbix/enc:ro
      - /usr/local/docker/zabbix/ssh_keys:/var/lib/zabbix/ssh_keys:ro
    # command:
    #   - "--add-host=host.docker.internal:host-gateway"
    deploy:
      restart_policy:
        condition: unless-stopped
      resources:
        limits:
          cpus: '0.2'
          memory: 128M
        reservations:
          cpus: '0.1'
          memory: 64M
    links:
      - zabbix-server
    depends_on:
      - zabbix-server
    # networks:
    #   - network-monitor
    # ports:
    #   - 10050:10050
    networks:
      network-monitor:
        ipv4_address: 10.0.0.6

  #---------------------------------------#
  #  GRAFANA - VISUALIZAÇÃO DAS METRICAS  #
  #---------------------------------------#
  zabbix-grafana:
    container_name: zabbix-grafana
    hostname: zabbix-grafana
    image: grafana/grafana:${TAG_GF:-latest}
    # restart: unless-stopped
    environment:
      GF_SECURITY_ADMIN_PASSWORD: ${GF_SECURITY_ADMIN_PASSWORD:-12345678}
      GF_SERVER_ROOT_URL: ${GF_SERVER_ROOT_URL:-http://localhost:8089}
      GF_INSTALL_PLUGINS: ${GF_INSTALL_PLUGINS:-alexanderzobnin-zabbix-app}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /usr/local/docker/grafana_storage:/var/lib/grafana:rw
    user: "0"
    deploy:
      restart_policy:
        condition: unless-stopped
      resources:
        limits:
          cpus: "1"
          memory: 768M
        reservations:
          memory: 512M
          cpus: "0.5"
    ports:
      - 127.0.0.1:8089:3000
    # networks:
    #   - network-monitor
    networks:
      network-monitor:
        ipv4_address: 10.0.0.7

networks:
  network-monitor:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.0.0.0/16
          gateway: 10.0.0.1
